html{
    font-size: 10px;
}

body{
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    background: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    width: 25rem;
    background: hsl(0, 0%, 100%);
    padding: 1.6rem;
    border-radius: 20px;
    

}

img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

h1{
    font-size: 2.2rem;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 1.5rem;
}